:host {
	display: flex;
	justify-content: center;
}

.main-card {
	background-color: gainsboro;
	border: 2px solid black;
	border-radius: 8px;
	padding: 10px;

	.header {
		font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
		font-weight: bolder;
	}
}
